body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 100vh;
}
.vkuiHeader {
  user-select: none !important;
}
.tw {
  white-space: pre-wrap;
}
input,
input:before,
input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.mb10 {
  margin-bottom: -10px;
}
.TabbarItem__in:hover,
.Switch:hover,
.TabbarItem:hover,
option:hover {
  cursor: pointer;
}
.Radio,
.vkuiFormItem .vkuiCell,
.vkuiFormItem .vkuiSimpleCell,
.vkuiFormItem .vkuiRichCell,
.vkuiFormItem .vkuiCellButton,
.vkuiFormItem .vkuiRadio,
.vkuiFormItem .vkuiCheckbox {
  border-radius: 8px;
}
.vkuiPanelHeader--android.vkuiPanelHeader--no-right,
.vkuiPanelHeader__content,
> *,
.vkuiPanelHeader--vkcom.vkuiPanelHeader--no-right,
.vkuiPanelHeader__content,
> * {
  padding-top: 5px !important;
}
.CellInCard {
  padding: 10px;
}
.animatedButton {
  border: none;
  background: none;
  padding: 0;
  width: 100%;
}
.Link {
  color: black !important;
}
.hide {
  background-color: var(--button_secondary_background);
  border-radius: 25px;
  padding: 0 10px;
  color: var(--button_secondary_foreground);
  font-size: 15px;
  font-weight: 600;
}
.tap:hover {
  cursor: pointer;
}
.vkuiCardScroll__gap {
  display: none !important;
}
.ml10 {
  margin-left: 0 !important;
}
.vkuiSimpleCell {
  border-radius: 8px !important;
}
img {
  width: 100%;
}
a,
a:hover {
  color: var(--accent);
  text-decoration: none;
}
.fixButton,
.fixButton:hover,
.fixButton:active {
  text-decoration: none;
  color: var(--button_secondary_foreground);
}
.fixButton2,
.fixButton2:hover,
.fixButton2:active {
  text-decoration: none;
  color: var(--button_primary_foreground);
}
.switchEl {
  pointer-events: none;
}

/*noinspection CssInvalidFunction*/
.TopPosition {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: -3px;
  right: -3px;
  font-weight: 600;
  font-size: 12px;
  color: var(--text_primary);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 8%);
  background: var(--background_content);
  display: flex;
  align-items: center;
  justify-content: center;
}
.AvatarWithoutShadow .vkuiAvatar--shadow::after {
  box-shadow: none;
}
.verifyMark {
  margin-top: 2px;
  margin-left: 5px;
}
.TopText {
  font-size: 37px;
  font-weight: 500;
  text-transform: uppercase;
}
.serviceCard .vkuiAvatar--shadow:after {
  box-shadow: none !important;
}
.serviceCard .vkuiAvatar {
  background: none !important;
}
.textAreaFix textarea {
  max-height: 74px !important;
  height: 74px;
}
.WelcomeBlock {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.WelcomeBlock .Text {
  padding-bottom: 15px;
}
.snackBar-fix {
  padding-bottom: 0 !important;
}
.disabledNav {
  opacity: 0.5;
}
.vkuiTabbarItem--selected,
.vkuiSimpleCell > .vkuiIcon,
.Icon--56 {
  color: #eb876f !important;
}
.vkuiSwitch--ios .vkuiSwitch__self:checked + .vkuiSwitch__pseudo {
  background: #eb876f !important;
}
.vkuiTabbar {
  border-radius: 15px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.15) !important;
  padding: 5px;
}
.vkuiEpic .vkuiTabbar {
  justify-content: center;
  transition: 0.4s;
  opacity: 1;
  display: flex;
  align-items: center;
  margin: 15px 13px;
  width: 90% !important;
}
.vkuiTabbar--ios.vkuiTabbar--shadow::before {
  display: none;
}
.snackbar-mobile-fix .vkuiSnackbar__body {
  border-radius: 15px;
  margin-bottom: 5px;
}
.vkuiSnackbar__body {
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.15) !important;
}
.snackbarActive .vkuiEpic .vkuiTabbar {
  opacity: 0;
  transition: 0.4s;
}
.TabbarItem--selected .vkuiIcon {
  animation-name: boop;
  animation-duration: 0.7s;
}
.Cell--disabled .vkuiIcon {
  animation-name: boop;
  animation-duration: 0.7s;
}
@keyframes boop {
  25% {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.badgehightlighted {
  color: #ff3347;
}
